# 데이터 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1=pd.read_excel('../data/한국어_단발성_대화_데이터셋.xlsx')
data1.head()

,Sentence,Emotion,Unnamed: 2,Unnamed: 3,Unnamed: 4,공포,5468
0,언니 동생으로 부르는게 맞는 일인가요..??,공포,NaN,NaN,NaN,놀람,5898.0
1,그냥 내 느낌일뿐겠지?,공포,NaN,NaN,NaN,분노,5665.0
2,아직너무초기라서 그런거죠?,공포,NaN,NaN,NaN,슬픔,5267.0
3,유치원버스 사고 낫다던데,공포,NaN,NaN,NaN,중립,4830.0
4,근데 원래이런거맞나요,공포,NaN,NaN,NaN,행복,6037.0

In [3]:
data1 = data1[['Sentence', 'Emotion']].rename(columns={'Sentence':'발화', 'Emotion':'감정'})

# 혐오 -> 분노
data1["감정"]=np.where(data1["감정"].str.match("혐오"),"분노",data1["감정"])
#공포 -> 불안
data1["감정"]=np.where(data1["감정"].str.match("공포"),"불안",data1["감정"])

# '놀람' 제거
data1 = data1[data1['감정'] != '놀람']

In [4]:
data1['감정'].value_counts()

감정
분노    11094
행복     6037
불안     5468
슬픔     5267
중립     4830
Name: count, dtype: int64

# 데이터 2,3

In [5]:
data2=pd.read_excel('../data/감성대화말뭉치(최종데이터)_Training.xlsx')
data3=pd.read_excel('../data/감성대화말뭉치(최종데이터)_Validation.xlsx')

In [6]:
data2 = data2.fillna("")
data3 = data3.fillna("")
data2["사람문장"]=data2["사람문장1"].astype(str)+data2["사람문장2"].astype(str)+data2["사람문장3"].astype(str).astype(str)
data3["사람문장"]=data3["사람문장1"].astype(str)+data3["사람문장2"].astype(str)+data3["사람문장3"].astype(str).astype(str)

In [7]:
df_concat = pd.concat([data2, data3])
data23 = df_concat[['사람문장', '감정_대분류']]

In [8]:
data23=data23.rename({'감정_대분류':'감정'},axis=1)
data23['감정']=data23['감정'].apply(lambda x:x.strip())

In [9]:
data23["감정"]=np.where(data23["감정"].str.match("상처"),"슬픔",data23["감정"])
data23["감정"]=np.where(data23["감정"].str.match("기쁨"),"행복",data23["감정"])

data23=data23.reset_index(drop=True)
data23.rename({"사람문장":"발화"},axis=1,inplace=True)

In [23]:
# 출력할 최대 행과 열의 수 설정 (None으로 설정하면 제한 없음)
data23[data23['감정']=='당황']

                                                      발화  감정
14     길을 가다가 우연히 마주친 동네 아주머니께서 취업했냐고 물어보셔서 당황했어.평소 친...  당황
15     어제 합격 통보를 받은 회사에서 문자를 잘못 발송했다고 연락이 왔어. 너무 당혹스럽...  당황
16     나 오늘 첫 출근 했는데 너무 당황스러웠어!버스 타고 카드를 찍으려고 하는데 지갑을...  당황
17     이번에 직장을 이직했는데 글쎄 만나고 싶지 않은 사람을 만나서 아주 당황스럽더라고....  당황
29     이번에 중소기업에 취업하게 되었어. 친구들에게 말하기가 조금 부끄러워.요즘같이 어려...  당황
...                                                  ...  ..
58266  나랑 비슷한 시기에 결혼하는 친구는 시댁에서 집을 해줘서 너무 부러워. 우리는 대출...  당황
58267  친구 한 명이 결혼해서 아이를 가졌는데 너무 행복해 보이더라. 기분이 좋지만은 않아...  당황
58268  남들은 결혼 전에 일억을 모았다는데 난 뭐를 한 것인지 모르겠어. 자괴감만 드네.요...  당황
58269  나보다 결혼을 먼저 한 친구가 부러워. 그 친구 남편은 직장도 내 남편보다 좋고 키...  당황
58270  친구들 모두 결혼하고 나만 혼자 남아서 쓸쓸하네.맞아. 하지만 그렇다고 아무나하고 ...  당황

[9804 rows x 2 columns]

In [24]:
data23.columns

Index(['발화', '감정'], dtype='object')

In [10]:
data23['감정'].value_counts()

감정
슬픔    20278
불안    10433
분노    10417
당황     9804
행복     7339
Name: count, dtype: int64

# 데이터 4

In [30]:
data4=pd.read_csv('../data/감정분류데이터셋.csv', encoding='cp949')
data4.head()

,wav_id,발화문,상황,1번 감정,1번 감정세기,2번 감정,2번 감정세기,3번 감정,3번 감정세기,4번 감정,4번감정세기,5번 감정,5번 감정세기,나이,성별
0,5f4141e29dd513131eacee2f,헐! 나 이벤트에 당첨 됐어.,happiness,angry,2,surprise,2,happiness,2,happiness,2,happiness,2,48,female
1,5f4141f59dd513131eacee30,내가 좋아하는 인플루언서가 이벤트를 하더라고. 그래서 그냥 신청 한번 해봤지.,happiness,neutral,0,happiness,2,happiness,2,happiness,2,happiness,2,48,female
2,5f4142119dd513131eacee31,"한 명 뽑는 거였는데, 그게 바로 내가 된 거야.",happiness,angry,2,happiness,2,happiness,2,happiness,2,happiness,2,48,female
3,5f4142279dd513131eacee32,"당연히 마음에 드는 선물이니깐, 이벤트에 내가 신청 한번 해본 거지. 비싼 거야. ...",happiness,angry,2,happiness,2,happiness,2,happiness,2,happiness,1,48,female
4,5f3c9ed98a3c1005aa97c4bd,에피타이저 정말 좋아해. 그 것도 괜찮은 생각인 것 같애.,neutral,happiness,2,happiness,1,happiness,2,happiness,1,happiness,1,48,female

In [31]:
data4 = data4[['발화문', '상황']].rename(columns={'발화문':'발화', '상황':'감정'})
data4

                                                      발화         감정
0                                       헐! 나 이벤트에 당첨 됐어.  happiness
1            내가 좋아하는 인플루언서가 이벤트를 하더라고. 그래서 그냥 신청 한번 해봤지.  happiness
2                            한 명 뽑는 거였는데, 그게 바로 내가 된 거야.  happiness
3      당연히 마음에 드는 선물이니깐, 이벤트에 내가 신청 한번 해본 거지. 비싼 거야. ...  happiness
4                       에피타이저 정말 좋아해. 그 것도 괜찮은 생각인 것 같애.    neutral
...                                                  ...        ...
19369                                      나 엘리베이터에 갇혔어.       fear
19370                                  하지만 기분이 나쁜 걸 어떡해?      angry
19371                                  자취방 엘리베이턴데 정전인가봐.       fear
19372                                    나 드디어 프로젝트 끝났어!  happiness
19373                                         걱정해줘서 고마워.    disgust

[19374 rows x 2 columns]

In [32]:
data4['감정'] = data4['감정'].replace({
    'happiness': '행복',
    'angry': '분노',
    'neutral': '중립',
    'sadness': '슬픔',
    'disgust': '혐오',
    'surprise': '당황',
    'fear': '두려움'
})

In [40]:
data4=data4[data4['감정'].isin(['행복','중립','당황'])]

# 합치기

In [11]:
# 데이터 1,2,3만 사용
final_df = pd.concat([data1, data23])
final_df

                                                      발화  감정
0                               언니 동생으로 부르는게 맞는 일인가요..??  불안
1                                           그냥 내 느낌일뿐겠지?  불안
2                                         아직너무초기라서 그런거죠?  불안
3                                          유치원버스 사고 낫다던데  불안
4                                            근데 원래이런거맞나요  불안
...                                                  ...  ..
58266  나랑 비슷한 시기에 결혼하는 친구는 시댁에서 집을 해줘서 너무 부러워. 우리는 대출...  당황
58267  친구 한 명이 결혼해서 아이를 가졌는데 너무 행복해 보이더라. 기분이 좋지만은 않아...  당황
58268  남들은 결혼 전에 일억을 모았다는데 난 뭐를 한 것인지 모르겠어. 자괴감만 드네.요...  당황
58269  나보다 결혼을 먼저 한 친구가 부러워. 그 친구 남편은 직장도 내 남편보다 좋고 키...  당황
58270  친구들 모두 결혼하고 나만 혼자 남아서 쓸쓸하네.맞아. 하지만 그렇다고 아무나하고 ...  당황

[90967 rows x 2 columns]

In [12]:
final_df['감정'].value_counts()

감정
슬픔    25545
분노    21511
불안    15901
행복    13376
당황     9804
중립     4830
Name: count, dtype: int64

In [13]:
final_df.to_csv('final_dataset.csv')

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90967 entries, 0 to 58270
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   발화      90967 non-null  object
 1   감정      90967 non-null  object
dtypes: object(2)
memory usage: 2.1+ MB